{{ form_start(form) }}
        
        <div>
                {{form_label(form.title, 'Please enter the title')}}
        </div>
        <div>
                {{form_widget(form.title,{'attr':{'style': 'color:brown'}} ) }}
        </div>        
        <div>
                {{form_label(form.text, 'Please enter the post text')}}
        </div>
        <div>
                {{form_widget(form.text) }}
        </div>
                <input type="submit" value="Save">
        {{ form_end(form) }}